* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: cursive;

}

body {
      background-color:#05292E;
      color: white;
}

/* encabezado */

.header {
      display: flex;
      justify-content: center;
      background-image:url("/src/image/image 3.png");
      height: 90px;
      background-repeat: no-repeat;
      background-size:cover;
      align-items: center;
      background-position: 45% 33%;
}

.header img {
      width: 100px;
      height: 50px;
}

/* input */

input {
      background-color:#062226;
      border-radius: 20px;
      color: white;
      padding: 2px;
}

button{
      text-align: center;
      border-radius: 20px;
      padding: 2px;
}

.fa-solid {
      width: 20px;;
}

.container-input {
      text-align: center;
      margin-top: 10px;
}

/* local information */

.cointainer-status {
      position: absolute;
      width: 130px;
      background-color: #062226 ;
      border-radius: 40px 50px 50px 1px;;
      display: flex;
      justify-content: space-around;
}

.bg-red {
      margin: 5px;
      background-color: red;
      width: 15px;
      height: 15px;
      border-radius: 20px;
}

.bg-green {
      margin: 5px;
      background-color:green;
      width: 15px;
      height: 15px;
      border-radius: 20px;
}

.locationInfo {
      padding-top: 10px;
      background-color: rgba(0, 0, 0, 0.712);
      text-align: center;
      margin: 10px;
      border-radius: 10px;

}

.locationInfo div + div {
      padding: 20px 0;
      display: flex;
      justify-content:space-around;
}

/* tarjetas de personajes  */

.container-character {
      justify-content: center;
      display: flex;
}

.container-character-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
}
.card-character{
      margin: 10px;
      background-color: #062226;
      width: 300px;
      height: 470px;
      box-shadow: 10px 5px 5px black;
      border-radius: 10px;
}
.container-principal img {
      width: 300px;
      height: 280px;
      border-radius: 10px 10px 1px 1px;
      box-shadow: 5px 1px 50px rgba(8, 8, 8, 0.445);
}

.container-principal p {
      padding-top: 10px;
}

.container-principal h3, h5, p {
      padding-left: 10px;
}

@media screen and (min-width: 600px) {
      .header img {
            width: 200px;
            height: 100px;
      }
      .header {
            height: 140px;
      }
    }

    @media screen and (min-width: 900px) {
      .header img {
            width: 200px;
            height: 100px;
      }
      .header {
            height: 180px;
      }
    }